@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-6">Dashboard</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Assets
                </div>
                <div class="card-body">
                    <h5 class="card-title">Total Assets</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="Asset" asp-action="Create" class="btn btn-outline-primary">Add Asset</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Assignments
                </div>
                <div class="card-body">
                    <h5 class="card-title">Assigned Assets</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Assign Asset</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Support Tickets
                </div>
                <div class="card-body">
                    <h5 class="card-title">Open Tickets</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Create Ticket</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Licenses
                </div>
                <div class="card-body">
                    <h5 class="card-title">Overdue Licenses</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">View All</a>
                </div>
            </div>
        </div>
    </div>
</div>


