html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main{
    flex: 1;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Navigation Styling */

.nav-bar-icon {
    color: white;
}

/* Form styling template -- apply to all forms */

/*.form-container{*/
    /*max-width: 700px;*/
    /*margin-top: 50px;*/
/*}*/

/*.form-header-section{
    padding: 15px 0 0 50px;
    margin: 0;
}*/

/*.form-input-section{
    padding: 25px 50px 50px 50px;
    margin: 0;
}
*/
/*.solid {
    border-top: 1px solid #bbb;
    width: 100%;
    margin: 0;
}*/

/* Form Inputs Styling */

#FormControlTextArea {
    max-height: 100px;
}