html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Form styling template -- apply to all forms */
.form-container{
    padding: 50px;
    max-width: 650px;
    margin-top: 100px;
    border-radius: 9px;    
}

#FormControlTextarea{
    max-height: 100px;
}

/*.nav-item{
    display: flex;
    align-items: end;
}*/

.nav-bar-icon{
    color: white;
}